* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #1c1c1c;
  --primary-color: #9b2226;
  --hover-color: #b6373d;
  --secondary-color: #777373;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #eaeaea;
  --primary-color: #9b2226;
  --hover-color: #b6373d;
  --secondary-color: #aaa;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-container {
  width: 100%;
  margin-inline: auto;

  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 4px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #eaeaea;

  z-index: 9999;
}

.navbar-container > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-container .profile-name {
  display: flex;
  align-items: center;
  gap: 4px;
}

.search-bar input[type="text"] {
  padding: 8px 12px;
  font-size: 14px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  background-color: inherit;
  color: inherit;
}

.search-bar input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 8px var(--primary-color);
}

main {
  width: 90%;
  min-height: 200px;
  padding: 2rem 4rem;
  margin-inline: auto;
}

.content .note-title {
  font-size: 44px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .menu-bar {
  height: 100%;
  display: flex;
}

main aside .menu-bar ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  background-color: var(--primary-color);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main aside .menu-bar li {
  list-style-type: none;
}

main aside .menu-bar li a {
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.1s ease-in-out;
}

.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  justify-content: start;
}

.notes-list-empty-message {
  margin-top: 150px;
  text-align: center;
}

.note-item {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
}

.note-item-content {
  padding: 12px;
  flex: 1;
  overflow: auto;
  align-self: stretch;
  padding-bottom: 100px;
}

.note-item-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  color: inherit;
}

.note-item-date {
  font-size: 12px;
  margin-top: 8px;
}

.note-item-body {
  font-size: 14px;
  margin-top: 10px;
}

.input-title {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  background-color: transparent;
  font-size: 24px;
  line-height: 1.5;
  border: none;
  border-bottom: 1px solid #aaa;
  color: inherit;
}

.input-body {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  border: none;
  height: 350px;
  resize: vertical;
  font-size: 24px;
  line-height: 1.5;
}

.input-title::placeholder {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 24px;
}

.input-body::before {
  content: attr(data-placeholder);
  color: var(--secondary-color);
  position: absolute;
  pointer-events: none;
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.input-body:focus::before,
.input-body:not(:empty)::before {
  content: "";
}

.white-link:link,
.white-link:visited,
.white-link:hover,
.white-link:active {
  color: inherit;
  text-decoration: none;
}

.note-detail-title {
  font-size: 44px;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-detail-date {
  font-size: 18px;
  color: var(--secondary-color);
}

.note-detail-body {
  font-size: 22px;
  margin-top: 24px;
}

.archive-floating-icon {
  position: fixed;
  bottom: 20px;
  right: 80px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.archive-floating-icon:hover {
  transform: scale(1.1);
  background-color: var(--hover-color);
}

.delete-floating-icon {
  position: fixed;
  bottom: 20px;
  right: 140px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.delete-floating-icon:hover {
  transform: scale(1.1);
  background-color: var(--hover-color);
}

.error-page {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.error-page img {
  width: 500px;
  height: auto;
}

.button-mode {
  color: white;
  background: none;
  border: none;
}

.input-name,
.input-email,
.input-password,
.input-confirm-password {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  background-color: transparent;
  font-size: 24px;
  line-height: 1.5;
  border: 1px solid #aaa;
  color: inherit;
}

.btn-register {
  display: flex;
  padding: 10px;
  background-color: var(--primary-color);
  width: 350px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.login-note {
  font-size: 18px;
  color: var(--secondary-color);
  text-align: center;
}

.btn-switch-language {
  background-color: transparent;
  border: none;
  color: rgb(236, 230, 230);
  font-weight: 550;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  z-index: 9999;
  pointer-events: none;
}

.loader img {
  width: 300px;
  display: block;
  margin: auto;
  animation: fadeInOut 2s infinite ease-in-out;
}

.loader {
  text-align: center;
  animation: fadeInOut 2s infinite ease-in-out;
  color: var(--text-color);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .archive-floating-icon {
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }

  .delete-floating-icon {
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }
}
